* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

@font-face {
    font-family: Schofield;
    src: url(../font/Schofield.ttf);
}

@font-face {
    font-family: WriteSong;
    src: url(../font/WriteSong.ttf);
}

body {
    display: grid;
    align-items: center;
}

.circle {
    position: absolute;
    left: -205px;
    top: -215px;
    width: 380px;
    height: 350px;
    background-color: #00FFF5;
    border-radius: 100%;
    z-index: 2000;
}

.wave {
    position: absolute;
    top: 40px;
    left: -60px;
    width: 170px;
    height: 320px;
    transform: rotate(11deg);
    z-index: 2000;
}

.joao {
    font-family: Schofield;
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 1.5em;
    z-index: 3000;
}

.dev {
    display: none;
    position: absolute;
    right: 20px;
    top: 13px;
}

.dev h3 {
    font-family: Schofield;
    font-size: 1.5em;
}

.skills {
    margin-top: 140px;
    margin-left: 30px;
    display: flex;
    position: relative;
}

.skills img {
    width: 60%;
    height: auto;
    max-width: 500px;
}

.web {
    position: absolute;
    right: 45px;
    bottom: -10%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.web img {
    width: 34px;
    margin-bottom: 10px;
    height: 48px;
}

.projeto {
    margin-top: 70px;
    width: 100%;
    text-align: center;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
}

.projeto h2 {
    font-family: Schofield;
}

.projeto p {
    font-family: WriteSong;
}

.gitHub {
    width: 145px; 
    margin-top: 5px;
}

.unDraw {
    width: 175px;
}

.sobre {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: white;
    border-bottom-right-radius: 120px;
    font-family: WriteSong;
    font-size: 18px;
    font-weight: bold;
}

.divSobre {
    border-left: black 1px solid;
    padding-left: 5px;
    padding-top: 110px;
    padding-bottom: 10px;
    position: relative;
}

.bordaEu {
    background-color: #00FFF5;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    width: 180px; height: 160px;
    display: grid;
    align-items: center;
    position: absolute;
    right: 0px;
    top: -60px;
}

.sobre img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-left: 5px;
}

.sobre h2 {
    font-family: Schofield;
}

.sobre p {
    width: 90%;
}

.icones {
    margin-top: 20px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icones i {
    margin-right: 15px;
}

footer {
    background-color: #00FFF5;
    text-align: center;
    font-style: oblique;
    font-family: Arial;
    font-weight: bolder;
    font-size: 14px;
}

@media (max-width: 290px) {
    .joao {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 350px) {
    .joao {
      font-size: 2em
    }
  }

  @media(min-width: 500px) {
      .skills {
          margin-left: 80px;
      }

      .web img {
          height: 60px;
          width: auto;
      }
  }

@media (min-width: 700px){
    .joao {
        font-family: Schofield;
        position: absolute;
        right: 28px;
        top: 0px;
        font-size: 3em;
    }

    .dev {
        display: inline;
        top: 50px;
        right: 40px;
    }

    .skills {
        margin-top: 120px;
        margin-left: 60px;
        display: flex;
        position: relative;
    }

    .web {
        position: relative;
        left: 30px;
        bottom: -10px;
        display: grid;
        align-items: center;
        justify-content: center;
    }
    
    .web img {
        width: auto;
        margin-right: 20px;
        height: 90px;
    }

    .pj {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 100vw;
        margin-top: 50px;
        flex-direction: row-reverse;
    }

    .linha {
        width: 60%;
        border-top: gray 1px solid;
        margin: 0 auto;
        margin-top: 70px;
    }

    .projeto {
        margin-top: 0px;
        text-align: left;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        padding-bottom: 10px;
    }
    
    .projeto h2 {
        padding-top: 10px;
        font-family: Schofield;
        font-size: 2.0em;
    }

    .projeto p {
        font-family: WriteSong;
        font-size: 1.2em;
    }

    .gitHub {
        width: 250px; 
        margin-top: 5px;
    }
    
    .unDraw {
        width: 70%;
        margin-top: 10px;
    }

    .sobre {
        margin-top: -3px;
    }

    .sobre p {
        font-size: 20px;
    }
    
}

@media(min-width: 1000px) {
    .sobre {
        margin-top: -5px;
    }

    .divSobre {
        padding-top: 20px;
    }

    .bordaEu {
        height: 210px;
        width: 220px;
    }

    .sobre img {
        width: 200px;
        height: auto;
        margin-left: 5px;
    }

    .sobre h2 {
        font-size: 50px;
    }

    .sobre p {
        width: 700px;
        font-size: 25px;
    }
}