* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

@font-face {
    font-family: Schofield;
    src: url(../font/Schofield.ttf);
}

@font-face {
    font-family: WriteSong;
    src: url(../font/WriteSong.ttf);
}

.circle {
    position: absolute;
    left: -205px;
    top: -215px;
    width: 380px;
    height: 350px;
    background-color: #00FFF5;
    border-radius: 100%;
    z-index: 2000;
}

.wave {
    position: absolute;
    top: 40px;
    left: -60px;
    width: 170px;
    height: 320px;
    transform: rotate(11deg);
    z-index: 2000;
}

.joao {
    font-family: Schofield;
    position: absolute;
    right: 10px;
    top: 5px;
    /*text-shadow: gray 0px 3px 5px;*/
    font-size: 1.5em;
}

.dev {
    display: none;
    position: absolute;
    right: 20px;
    top: 13px;
    /*text-shadow: gray 0px 3px 5px;*/
}

.dev h3 {
    font-family: Schofield;
    font-size: 1.5em;
}

@media screen and (min-width: 350px) {
    .joao {
      font-size: 2em
    }
  }

.skills {
    margin-top: 140px;
    margin-left: 30px;
    display: flex;
    position: relative;
}

.skills img {
    width: 60%;
    height: auto;
    max-width: 500px;
}

.web {
    position: absolute;
    right: 45px;
    bottom: -10%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.web img {
    width: 34px;
    margin-bottom: 10px;
    height: 48px;
}

.projeto {
    margin-top: 70px;
    width: 100%;
    text-align: center;
    background-color: white;
    /*box-shadow: gray 0px 10px 10px;*/
    height: 200px;
}

.projeto h2 {
    font-family: Schofield;
}

.git {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gitHub {
    width: 145px; 
    margin-top: 5px;
}

.unDraw {
    width: 175px;
}

.gProj {
    padding-top: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #00BFB9;
    padding-bottom: 30px;
}

.gProj img {
    margin-top: 10px;
}

.mobile {
    height: 311px;
    box-shadow: gray 0px 0px 10px;
    border-radius: 13px;
}

.desktop {
    width: 280px;
    height: 160px;
    box-shadow: gray 0px 0px 10px;
}

.sobre {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: white;
    border-bottom-right-radius: 120px;
    font-family: WriteSong;
    font-size: 18px;
    font-weight: bold;
}

.sobre img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-left: 5px;
}

.sobre h2 {
    font-family: Schofield;
}

.icones {
    margin-top: 20px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icones i {
    margin-right: 15px;
}

footer {
    background-color: #00FFF5;
    text-align: center;
    font-style: oblique;
    font-family: Arial;
    font-weight: bolder;
    font-size: 14px;
}

@media (min-width: 700px) {
    .joao {
        font-family: Schofield;
        position: absolute;
        left: 200px;
        top: 0px;
        /*text-shadow: gray 0px 3px 5px;*/
        font-size: 2.5em;
    }

    .dev {
        display: inline;
    }

    .skills {
        margin-top: 140px;
        margin-left: 60px;
        display: flex;
        position: relative;
    }
    
    .web img {
        width: auto;
        height: 100px;
    }

    .projeto {
        margin-top: 70px;
        width: 100%;
        text-align: center;
        background-color: white;
        /*box-shadow: gray 0px 10px 10px;*/
        height: 235px;
    }
    
    .projeto h2 {
        font-family: Schofield;
        font-size: 2.5em;
    }

    .git {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .gitHub {
        width: 210px; 
        margin-top: 5px;
    }
    
    .unDraw {
        width: 225px;
    }
    
    .gProj {
        padding-top: 10px;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: #00BFB9;
        padding-bottom: 30px;
    }
    
    .gProj img {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .resp {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    /*.resp div:first-child {
        background-color: #00BFB9;
        border-radius: 20px;
        width: 180px;
        box-shadow: gray 0px 0px 10px;
    }

    .resp div {
        background-color: #00BFB9;
        border-radius: 20px;
        width: 350px;
        box-shadow: gray 0px 0px 10px;
    }*/

    .mobile {
        height: 300px;
    }

    .desktop {
        width: 450px;
        height: auto;
    }

    .sobre {
        margin-top: -3px;
    }
    
}